<!DOCTYPE html>
<html>
<title>Online CSS Editor</title>
<head>
<style>
/* This is
a multi-line
comment */
</style>
</head>
<body>
<div>Real Time CSS Editor</div>
<div id="box">Hello, World!</div>
</body>
</html>
<!DOCTYPE html>
<html>
   <head>
      <style>
         body {
            background-image: url("/videotutorials/images/tutor_connect_home.jpg");
         }
      </style>
   </head>

   <body>
      <h1>Connect with Tutors</h1>
   </body>
</html>
<html>
   <head>
   </head>
   
   <body>
      <p style = "border-width:4px; border-style:none;">
         This is a border with none width.
      </p>
      
      <p style = "border-width:4px; border-style:solid;">
         This is a solid border.
      </p>
      
      <p style = "border-width:4px; border-style:dashed;">
         This is a dashed border.
      </p>
      
      <p style = "border-width:4px; border-style:double;">
         This is a double border.
      </p>
      
      <p style = "border-width:4px; border-style:groove;">
         This is a groove border.
      </p>
      
      <p style = "border-width:4px; border-style:ridge">
         This is a ridge  border.
      </p>
      
      <p style = "border-width:4px; border-style:inset;">
         This is a inset border.
      </p>
      
      <p style = "border-width:4px; border-style:outset;">
         This is a outset border.
      </p>
      
      <p style = "border-width:4px; border-style:hidden;">
         This is a hidden border.
      </p>
      
      <p style = "border-width:4px; 
         border-top-style:solid;
         border-bottom-style:dashed;
         border-left-style:groove;
         border-right-style:double;">
         This is a a border with four different styles.
      </p>
   
   </body>
</html>
<!DOCTYPE html>
<html>
   <head>
      <title>width and height</title>
      <style>
         .GFG{
         height: 120px;
         width: 50%;
         border: 5px solid black;
         padding-left: 50px;
         padding-top: 50px;
         font-size:42px;
         font-weight:bold;
         color:green;
         margin-left:50px;
         margin-top:50px;
         }
      </style>
   </head>
   <body>
      <div class = "GFG"> Cascading stylesheets</div>
   </body>
</html>
<html>
   <head>
   </head>

   <body>
      <p style = "font-style:italic;font-size: 1.4em;">
         This text will be rendered in italic style
      </p>
       <p style = "font-family:georgia,garamond,serif;"> This is Cascading Style Sheets </p>
       <p style = "color:red;">
         This text will be written in red.
      </p>
      <p style = "text-align:right;">
         This will be right aligned.
      </p>
      
      <p style = "text-align:center;">
         This will be center aligned.
      </p>
      
      <p style = "text-align:left;">
         This will be left aligned.
      </p>
   </body>
</html> 